$dark: 34,29,28
$white: 255,255,255
$light: 246,243,246
$primary: 238,66,102
$blue: 44,91,201

:root
  --color-dark: #{$dark}
  --color-light: #{$light}
  --color-white: #{$white}
  --color-primary: #{$primary}
  --color-blue: #{$blue}

[data-theme="dark"]
  --color-dark: #{$light}
  --color-light: #{$dark}
  --color-white: #{$dark}
  --color-primary: #{$primary}
  --color-blue: #{$blue}