$dark: 30,30,30
$white: 255,255,255
$light: 240,240,240
$primary: 255,67,7
$blue: 44,91,201

:root
  --color-dark: #{$dark}
  --color-light: #{$light}
  --color-white: #{$white}
  --color-primary: #{$primary}
  --color-blue: #{$blue}