.btn {
    text-align: center;
    vertical-align: middle;
    margin: 0 .25rem;
    padding: .375rem .75rem;
    color: white;
    background-color: dodgerblue;
    border: 1px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:hover {
    background-color: rgb(25, 113, 202);
}

.btns > li {
    padding: .5rem 0rem;
}

.btn-rounded {
    border-radius: .5rem;
}