<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
    <link rel="stylesheet" href="../css-shared/reset.css">
    <link rel="stylesheet" href="../css-shared/main.css">
</head>
<body>
    <main>
        <h1>Layout</h1>
        <p>Här har jag inte inkluderat något nytt material utan du får undersäka tidigare resurser som jag
            skapat för er. Självklart går det utmärkt att söka på andra sidor, men prata gärna med mig om vad du
            hittar eller tips.
        </p>
        <ul>
            <li><a href="https://github.com/jensnti/wu1-one">Onepage exempel från Webbutveckling 1</a></li>
            <li><a href="https://github.com/jensnti/wu1-layout">Layout, flex exempel från Webbutveckling 1</a></li>
            <li><a href="https://github.com/jensnti/responsive_web_design">Responsive exempel baserat på Lars material</a></li>
        </ul>
        <h2>Uppgifter</h2>
        <ul class="uppgifter">
            <li>Skapa en onepage layout.</li>
            <li>Skapa en centrerad enkolumns layout.</li>
            <li>Skapa en 2 kolumns layout med nav och main.</li>
            <li>Skapa en valfri layout från en sida du hittar.</li>
            <li>Skapa en valfri layout från en tidningsartikel(Fråga mig efter tidningar!).</li>
    </main>
</body>
</html>