
<nav class="navbar"><a class="brand" href="#">Navbar Brand</a>
  <ul class="nav">
    <li class="nav-item"><a class="nav-link" href="../">Hem</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Navigation</a></li>
    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#">Dropdown</a>
      <ul class="nav dropdown-content">
        <li class="dropdown-item"><a class="nav-link" href="#">Link</a></li>
        <li class="dropdown-item"><a class="nav-link" href="#">Link</a></li>
      </ul>
    </li>
  </ul>
</nav>