extends layout

block head
  -var title = "Darkmode"
  title Webbutveckling - #{title}

  link(rel="stylesheet", href="stylesheets/navbar.css")
  link(rel="stylesheet", href="stylesheets/footer.css")

block nav
  include components/nav.pug

block content
  main.container.pt-1
    h1.text-caps= title
    h2 Fixa
    p.lead En trend här för att stanna.

block footer
  include components/footer.pug