extends layout

block head
  -var title = "Hamburgarmeny"
  title Webbutveckling - #{title}

  link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
  link(rel='stylesheet', href='stylesheets/navbar.css')
  link(rel='stylesheet', href='stylesheets/hamburger.css')

block nav
  nav.navbar
    a(href='index.html') Navbar
    button.navbar-toggle
      i.material-icons
        | menu
    .navbar-collapse
      ul.nav
        li.nav-item
          a.nav-link.active(href='index.html') Home
        li.nav-item
          a.nav-link(href='#') Link

block content
  main.container.pt-3
    h1.text-caps= title
    p.lead
      | Benämningen hamburgarmeny kommer från att ikonen ser ut som en burgare.
      | För att koda en sådan meny så behöver vi någon form av navigation och länkar.
      | Vi behöver också en meny-ikon, så det är bra om du arbetat med övningarna
      | för det momentet innan du gör detta.
    p
      | Menyn kräver även Javascript. Det scriptet finns i mappen javascript,
      |  länka till det i dokumentet med script taggen.
    code
      |  &#x3C;script src=&#x22;js/hamburgare.js&#x22;&#x3E;&#x3C;/script&#x3E;
    p När det är gjort så är det viktigt att du inte ändrar namn på klasser och
      | följer strukturen som finns. Annars så är det risk att menyn slutar fungera.
    h2.pt-1 Uppgifter
    ul.uppgifter
      li Skapa den faktiska menyn, se exempel från Navigation.
      li Ändra stilen på ikonen.
      li Jobba med stilarna på navbaren, padding / margin.
      li Lägg till fler / färre breakpoints för Media queries i CSS.
      li
        | Jobba med CSS för att ändra stilen på hamburgerikonen öppen/stängd, se javascriptet.

  script(src="javascripts/hamburger.js")