extends layout

block head
  -var title = "CSS Helpers"
  title Webbutveckling - #{title}

block content
  main.container.pt-1
    h1.text-caps= title
    p.lead
      | När en arbetar med CSS så blir det ofta väldigt mycket kod som upprepas.
      | Du skapar flera klasser med display: flex, margin-top: 1rem osv.
      | Att använda helper klasser i CSS är ett sätt att minska denna upprepning.