extends layout

block head
  -var title = "CSS Helpers"
  title Webbutveckling - #{title}

block content
  main.container.pt-1
    h1.text-caps= title
    p.lead
      | När en arbetar med CSS så blir det ofta väldigt mycket kod som upprepas.
      | Du skapar flera klasser med display: flex, margin-top: 1rem osv.
      | Att använda helper klasser i CSS är ett sätt att minska denna upprepning.
    p
      | CSS helpers utnyttjar att du kan använda flera klasser på samma HTML-element.
      | Du anger klasserna i en följd i class attributet.
    p
      | Ett exempel på ett återkommande attribut är display:flex. För att minska upprepningen
      | så kan du då skapa en helper class, .flex med display: flex. Du använder den 
      | sedan på de element som ska vara flex.