extends layout

mixin li-link(target, text)
  li
    a(href=target)= text

block head
  -var title = "Exempel och övningar"
  title Webbutveckling - #{title}

  link(rel='stylesheet' href='stylesheets/footer.css')

block content
  main.container.pt-3
    h1.text-caps Webbutveckling 1-2
    h2= title
    p.lead
      | Det här repositoryt samlar ett antal exempel över vanliga webbkomponenter och visar hur du kan koda dem.
      | Arbeta dig igenom dina intresseområden och gör tillhörande övningar, eller hitta det du behöver och använd det.
      | Repot är ett work in progress och hittar du något fel eller förbättring så gör gärna en pull request.
      | Om du saknar något eller hittar fel, så skapa en 
      a(href='https://github.com/jensnti/wu-ovningar/issues') issue
      |  på GitHub och berätta vad.
    p.pt-1
      | Innan du kör igång rekommenderar jag att du installerar VSCode extensionen 
      a(href="https://marketplace.visualstudio.com/items?itemName=ritwickdey.LiveServer") Live server
      |, så att du förenklar ditt arbetsflöde. Installera, ladda om code och högerklicka sedan på html-dokument
      | och välj Open with live server.
    p
      | En del av sidorna innehåller instruktioner för hur du går tillväga för att 
      | koda och återskapa dem, men oavsett det så förväntas du inspektera
      | och undersöka källkoden på sidorna.
      | Så öppna utvecklarverktygen i webbläsaren (F12) och se till att Inspektera dokumentet.
    p
      | Alla sidorna innehåller en eller flera övningar för dig att arbeta med.
    p
      | Validera din 
      a(href='https://validator.nu/') HTML
      |  och 
      a(href='https://jigsaw.w3.org/css-validator/') CSS
      | .
    p
      | Ett tips är att börja med navigationen och ikoner. När det är klart sammanför du det genom att skapa en
      | hamburgermeny för detta. På så sätt får du en färdig navbar som du kan återanvända i dina andra projekt.

    ul.uppgifter.pt-1
      +li-link('navigation.html', 'Navigation')
      +li-link('icons.html', 'Ikoner')
      +li-link('hamburger.html', 'Hamburgarmeny')
      +li-link('helpers.html', 'CSS Helpers')
      +li-link('footer.html', 'Sticky footer')
      +li-link('buttons.html', 'Knappar')
      +li-link('animations.html', 'Css Animationer')
      +li-link('sass.html', 'Sass')
      +li-link('pug.html', 'Pug')
      +li-link('search.html', 'Sökfält')
      +li-link('darkmode.html', 'Darkmode')
      +li-link('responsive.html', 'Responsive layout')

block footer
  include components/footer.pug