extends layout

block head
  -var title = "Navigation"
  title Webbutveckling - #{title}

  link(rel='stylesheet', href='stylesheets/navbar.css')

block nav
  include components/nav.pug

block content
  main.container.pt-3
    h1.text-caps= title
    p.lead De flesta sidor innehåller någon form av navigation, vanligtvis i form av en navbar.
    p
      | På den här sidan hittar du ett exempel på en navbar. Denna är bred som hela sidan. Vanligt annars
      | är också att navigationen är lika bred som sidans huvud-container.
    p I CSS koden för den här sidan finns också en .fixed-top klass för att låsa navbaren längst upp på sidan.
    h2.pt-1 Uppgifter
    ul.uppgifter
      li Byt ut Navbar Brand mot en Ikon.
      li Byt ut Navbar Brand mot en Logotype.
      li Testa att använda .container klassen för navbaren.
      li Skapa några fler sidor och styr länkarna dit.
      li
        | Använd flexbox i navbaren för att göra den centrerad eller vänsterställd.(justify-content)
      li Skapa en egen dropdown.
