extends layout

mixin nav-link(href, name)
  if name === title
    li.nav-item.border-top
      a.nav-link.active(href=href)= name
  else
    li.nav-item.border-top
      a.nav-link(href=href)= name


block head
  -var title = "Off canvas menu"
  title Webbutveckling - #{title}

  link(rel="stylesheet", href="stylesheets/offcanvas.css")

block nav
  nav.sidenav.h-100.flex
    div.flex.h-100.center-items.border-right
      button#menu.btn-sidenav Menu
    div.menu.h-100.w-100
      a.brand.pl-1.pt-3(href='#') Brand
      ul.nav.pt-3
        +nav-link('index.html', 'Hem')
        +nav-link('#', 'Off canvas menu')
        +nav-link('#', 'Om')
        +nav-link('#', 'Kontakt')

block content
  main.container.pt-3
    h1.text-caps= title
    p.lead
      | En annan efterfrågad variant av navigation på webbsidor 
      | är det som kallas för off canvas menu, alltså en meny som är
      | dold utanför sidan(canvas) tills den ska visas.
      | Menyn kräver lite javascript och exemplet här kan anpassas till 
      | visas från vänster eller höger.
    p
      | Det är många av klasserna som har anpassats utifrån 
      a(href="navigation.html") Navbar exemplet
      | , så lägg lite tid att studera dem.
      | Det finns även en klass för att mörka resten av sidan
      | när menyn är öppen.
    p 
      | För att få allt att fungera så används lite javascript, se filen
      | offcanvas.js
    h2.pt-1 Uppgifter
    ul.uppgifter
      li Testa de olika funktionerna i JS filen som är kommenterade.
      li Byt ut Brand mot ikon, text, logga.
      li Byt sida på menyn, så att den kommer från vänster.
      li Byt ut Menu knappen mot en meny-ikon.
      li Använd media queries för att göra menyn fullscreen på small devices.

  script(src="javascripts/offcanvas.js")