extends layout

block head
  -var title = "SASS"
  title Webbutveckling - #{title}

block content
  main.container.pt-1
    h1.text-caps= title
    h2 Syntactically Awesome Style Sheets
    p.lead Sass är ett verktyg för att förenkla och förbättra ditt arbete med CSS.
    p
      | Du skriver sass istället för CSS (vilket påminner väldigt mycket om CSS) men med
      | extra funktionalitet och förbättringar. Du kompilerar sedan detta till CSS.
    ul.uppgifter
      li
        a(href="https://jens-andreasson.gitbook.io/webbserverprogrammering/utvecklarmiljo/wsl") Guide för att installera WSL(Windows Subsystem Linux)
      li
        a(href="https://jens-andreasson.gitbook.io/webbserverprogrammering/webbserver/node-introduktion") Guide för att sedan installera Node
    p
      | För att installera SASS så behöver du 
      a(href='https://docs.npmjs.com/downloading-and-installing-node-js-and-npm') NPM 
      | under WSL eller powershell. Du kan installera detta enskilt eller med 
      a(href='https://nodejs.org/en/') Node
      | .
      | Enklast är att köra WSL och skriva: sudo apt install npm för att installera NPM-paketet.
      | Arbetar du med powershell så glöm inte att du måste uppdatera din PATH.
    p
      | När du har installerat NPM så kan du installera SASS, gör det globalt. Under WSL skriv,
      | sudo npm install -g sass
    p
      | Du ska nu vara redo för att köra SASS, testa genom att skriva sass i WSL. För att kompilera
      | SASS till CSS skriver du sass --watch input file/dir:output file/dir
    P
      | De här sidorna använder SASS för all CSS så det kan vara en bra startpunkt att undersöka.
      | Du hittar filerna på 
      a(href="") GitHub 
      | .
    p
      | Läs mer: 
      a(href='https://sass-lang.com/guide') SASS guide
